<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
n=0
for i in df.duplicated().tolist():
    if i == True:
        n += 1
print(n)

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# your code goes here
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [5]:
# your code goes here
n=0
for i in df.duplicated().tolist():
    if i == True:
        n += 1
print(n)

0

## Finding Missing values

Find the missing values for all columns.

In [6]:
# your code goes here
df.isnull()
# df.isnull().sum()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11550,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
11551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Find out how many rows are missing in the column 'WorkLoc'

In [7]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [8]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [9]:
df['ConvertedComp'].value_counts()

2000000.0    138
1000000.0    105
100000.0      99
150000.0      92
120000.0      86
            ...
53148.0        1
256000.0       1
54423.0        1
392.0          1
41280.0        1
Name: ConvertedComp, Length: 3515, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [10]:
#make a note of the majority value here, for future reference
# Office                                            6806

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [11]:
# your code goes here
df['WorkLoc'].fillna('Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [12]:
# your code goes here
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [13]:
# your code goes here
print(df['CompFreq'].value_counts())

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [14]:
# your code goes here

normalized_AC = []

cf = df['CompFreq'].tolist()
ct = df['CompTotal'].tolist()

for i, v in enumerate(ct):
    if ct[i] != 'nan':
        if cf[i] == 'Weekly':
            normalized_AC.append(v*52)
        elif cf[i] == 'Monthly':
            normalized_AC.append(v*12)
        else: normalized_AC.append(v)
    else: normalized_AC.append(v)
        
df['NormalizedAnnualCompensation'] = normalized_AC

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ).